body {
    background-color: rgb(183, 218, 229);
    padding-bottom: 20px;
  }
  
h1 {
    font-family: "Times New Roman";
    color: navy;
    font-size:75px;
    margin-left: 20px;
  }

p {
    font-family: "Times New Roman";
    font-size:20px;
    font-weight: bold;
    font-style: italic;
}

.myDiv {
  width: 100%;
  height: 500px;
}

.navbar {
  margin-bottom: 20px;
  bottom: 10px;
}
